<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://127.0.0.1:3306/design?useUnicode=true&amp;characterEncoding=UTF-8
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>

		<!-- 方言 -->
		<property name="dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>

		<!-- 指定当前Session的上下文为当前线程 -->
		<property name="current_session_context_class">thread</property>

		<!-- 显示并格式化输出hibernate执行的sql语句 -->
		<property name="show_sql">
			true
		</property>
		<property name="format_sql">
			true
		</property>

		<!-- SessionFactory被创建时会根据实体类和映射文件自动更新数据库的表结构 -->
		<property name="hbm2ddl.auto">update</property>

		<!-- 指定ORM映射文件 -->
		<mapping resource="entity/Student.hbm.xml" />
		<mapping resource="entity/Major.hbm.xml" />
		<mapping resource="entity/Manager.hbm.xml" />
	</session-factory>
</hibernate-configuration>