
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <title>登陆的首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script  type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>
<body background="/08/Public/image/2.png">
<div class="container lead" id="navbar">
<include file="login_header" />
<div class="container text-primary" id="body">
    <div class="row">
        <div class="col-lg-6" id="body_left">
            <br>
            <h1>抒发你的心情</h1>
            <h1>&nbsp&nbsp&nbsp&nbsp写尽你的感悟</h1>
            <h4>随时随地，随心所欲</h4>
            <br>
            <a href="{:U('Home/Index/writer')}" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-pencil">&nbsp提笔写篇文章</span>
            </a><br><br>
            <a href="{:U('Home/Index/planlist')}" class="btn btn-success btn-lg">
                &gt&gt&nbsp&nbsp进入我的主页
            </a>
        </div>
    </div>
</div>
</body>
</html>




