<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Design</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExampleServlet</display-name>
    <servlet-name>ExampleServlet</servlet-name>
    <servlet-class>servlet.ExampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExampleServlet</servlet-name>
    <url-pattern>/example</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>servlet.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptServlet</display-name>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>servlet.DeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/dept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginManagerServlet</display-name>
    <servlet-name>LoginManagerServlet</servlet-name>
    <servlet-class>servlet.LoginManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginManagerServlet</servlet-name>
    <url-pattern>/admin/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MajorServlet</display-name>
    <servlet-name>MajorServlet</servlet-name>
    <servlet-class>servlet.MajorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajorServlet</servlet-name>
    <url-pattern>/admin/major</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/admin/student</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ManagerFilter</display-name>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>